@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

body {
    color: white;
    background-color: rgb(255, 145, 0);
    margin: 0;
    text-align: center;
    font-family: 'Bahiana', cursive;
    font-size: 22px;
}

header {
    background-color: rgb(0, 0, 49);
    padding: 30px 0;
    color: white;
}

h1 {
    margin-bottom: 10px;
    font-size: 50px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: gold;
}

/* Cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px 20px;
}

.card {
    background-color: rgb(0, 0, 49);
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.6);
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.card h3 {
    margin-top: 15px;
    font-size: 30px;
    color: gold;
}

.card p {
    font-size: 18px;
    color: white;
}

footer {
    background-color: rgb(0, 0, 49);
    padding: 20px;
    color: white;
    font-size: 18px;
}
